<!DOCTYPE html>
<html>
<head>
  <title>BrainSTAX</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
    <link href="<%=asset_path("favicon.ico") %>" rel="shortcut icon" type="image/x-icon" />
    <link href='https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>

  <script>
    window.images = {
      logo: "<%= image_path("logo.png") %>",
      check: "<%= image_path("sign-check-icon.png") %>"
    }
  </script>

  <%= render "layouts/errors" %>

  <%= yield %>

  <%= javascript_include_tag "application" %>

</body>
</html>
